.card {
  /* max-width: 20rem; */
  max-height: 10rem;
  display: flex;
}

.card-title{
  height: 2em;
}

.btn {
  display: flex;
}

.btn-container {
  display: flex;
  justify-content: space-around;

}

#delete-character {
  background-color: red;
}